*{
    margin: 0;
    padding: 0;
    max-width: 960px;
}
.logo {
    position: absolute;
}
h2 {
    color: #800000;
}
a:hover{
    font-style: italic;
}

body{
    border: 2px solid;
    border-color: #931420;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    border: 3px solid;
    border-color: #931420;
    background: linear-gradient(0.25turn, #f6bb73, white, #f6bb73);
    padding: 5%;
}

header img {
	float: left;
	padding: 0 5%;
}

hr {
    color: #931420;
    height: 2px;
    background-color: #931420;
    font-size: 0;
    border: 0px;
    margin: 5px;
}

.content {
	width: 65%;
	float: right;
    padding: 1%;
    margin: 1%;
}

p {
    font-size: 16px;
    padding: 1% 0;
}
.guests {
	width: 25%;
	float: right;
    padding: 1%;
    margin: 1%;
}

.guests img {
	padding-bottom: 10px;
    width: 50%;
}
footer {
    text-align: center;
    background-color: #931420;
    border: 5% solid;
    border-color: #931420;
    color: #fffded;
    clear: both;
    font-size: 12px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    position: relative;
    display: flex;
}
.navbar ul li {
    float: left;
    width: 100%;
}
.navbar ul li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}
.navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
.navbar ul ul li {
    float: none;
}
.navbar ul li:hover > ul {
    display: block;
}
ul::after {
    content: "";
    clear: both;
    display: block;
}

#mobile_menu {
    background-color: #800000;
}

@media only screen and (min-width: 600px) {
    .navbar {
        display: block;
    }
    #mobile_menu {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
    #mobile_menu > .slicknav_menu{
        background-color: #800000;
    }
    #mobile_menu > .slicknav_menu > *{
        float: right;
    }

}
